################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/physx/bin/win.x86_64.vc143.md
/physx/compiler/vc17win64
/physx/include/PxConfig.h
